<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.manage_system">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 设置系统权限 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 设置系统权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 电源锁权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 允许应用写（非读）用户的日历数据 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 允许应用访问震动器 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- ZBLibrary <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- CommonUtil等类的部分功能需要，不需要的功能对应的权限可不复制粘贴 <<<<<< -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- CommonUtil等类的部分功能需要，不需要的功能对应的权限可不复制粘贴 >>>>>> -->
    <!-- ZBLibrary >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <uses-permission android:name="android:permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!--android:name="com.mob.MobApplication"-->

    <application
        android:name="com.manage_system.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.manage_system.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--<activity-->
            <!--android:name="com.manage_system.SplashActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/splashTheme"-->
            <!--android:label="@string/app_name">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="com.manage_system.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.manage_system.LoginByPhoneActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.manage_system.ui.personal.HelpActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.manage_system.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <meta-data android:name="Mob-AppKey" android:value="2ad43f5ed4da8"/>
        <meta-data android:name="Mob-AppSecret" android:value="2ff444b92eaf20a36f7e69fe7003c48e"/>

        <activity
            android:name="com.manage_system.ui.manage.ImageBrowseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name="com.manage_system.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.manage_system.Test1Activity" />
        <activity android:name="com.manage_system.ui.personal.EditPasswordActivity" />
        <activity android:name="com.manage_system.ui.personal.FindPasswordActivity" />
        <activity android:name="com.manage_system.ui.personal.PersonInfoActivity" />
        <activity android:name="com.manage_system.ui.personal.GuideStudentInfoActivity" />
        <activity android:name="com.manage_system.ui.base.BottomMenuWindow" />

        <activity
            android:name="com.manage_system.ui.base.CutPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.manage_system.test.MainActivity1" />
        <activity android:name="com.manage_system.test.ClipImageActivity"/>

        <!--学生选题-->
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentChooseTitleActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentChooseTitleMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentChooseDoneTitleActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentChooseDoneTitleMainActivity"/>
        <activity android:name="com.manage_system.ui.personal.GuideTeacherInfoActivity"/>

        <!--学生过程文档-->
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentGraduationThesisActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentGraduationThesisEditActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentGraduationThesisMainActivity"/>

        <activity android:name="com.manage_system.ui.manage.activity.student.StudentLiteratureReviewActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentForeignTranslationActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentGuideReportActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentMiddleCheckActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentOpenReportActivity"/>

        <activity android:name="com.manage_system.ui.manage.activity.student.StudentLiteratureReviewEditActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentForeignTranslationEditActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentGuideReportEditActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentGuideReportMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentMiddleCheckEditActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentOpenReportEditActivity"/>

        <!--学生答辩管理-->
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentReplyGradeActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.student.StudentReplyPlanActivity"/>

        <!--教师题目管理-->
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherOutTitleActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherOutTitleDetailActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherOutTitleMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherOutTitleUploadActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherCheckTitleMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherCheckTitleActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherReplyMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherReplyTypeActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherScoreMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherScoreActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherScoreDetailActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherLeaderMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherReplyPlanMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherCheckDataMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherGtCommentActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherGtCommentMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherGtCommentLookActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherGradeMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherThesisCommentActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherThesisCommentDetailActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.teacher.TeacherThesisCommentMainActivity"/>

        <!--系主任题目管理-->
        <activity android:name="com.manage_system.ui.manage.activity.manager.ManagerCtReportMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.manager.ManagerCtListMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.manager.ManagerCtListActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.manager.ManagerXtReportMainActivity"/>
        <activity android:name="com.manage_system.ui.manage.activity.manager.ManagerXtListActivity"/>
    </application>

</manifest>